# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
cz_streaming_logs.Rproj
ana_full.RDS
cz_stats_verify.tsv
cz_stats_verify_channels.tsv
ana_2021.02.RDS
ana_2021.02_A.RDS
cz_stats_listened_hours_jnj.tsv
cz_stats_listened_hours.tsv
cz_stats_n_sessions.tsv
cz_stats_hrs_listened.tsv
cz_stats_hrs_lstnd_jnj.tsv
cz_stats_cha.RDS
cz_stats_cha.01.RDS
chan_prep.tsv
cz_stats_cha.01a.RDS
cz_stats_cha.01b.RDS
cz_stats_cha.03.RDS
cz_stats_cha.04.RDS
ur01.tsv
sessions_by_hour.04.RDS
gh_logs.tsv
cha_audio_full.RDS
gh_cha_dirs.tsv
caroussel_missing.tsv
caroussel.RDS
caroussel_7.RDS
config.yaml
cz_stats_cha_05.RDS
cz_stats_cha_06.RDS
cz_stats_cha_07.RDS
cz_stats_cha_08.RDS
cz_geo_set_1.RDS
cz_geo_set_2.RDS
cz_geo_set_3.RDS
cz_geo_set_4.RDS
cz_stats_rod.1.RDS
cz_stats_rod.01.RDS
cz_gids_1.RDS
cz_rod_audio_1.RDS
rod_logs_1.RDS
rod_logs_2.RDS
log_audio_8.RDS
cz_ipa_geo_full.RDS
cz_ipa_his.RDS
cz_log_limits.RDS
cz_pgm_titles.tsv
cz_stats_channel_report.tsv
cz_stats_hours_report.tsv
cz_stats_joined_04.RDS
cz_stats_pgm_report.2.RDS
cz_stats_pgms_report.tsv
cz_stats_report.3.RDS
cz_stats_report.4g.RDS
cz_stats_rod.10.RDS
cz_stats_rod_8.RDS
cz_lirod_stats_pgm_report.2.RDS
cz_stats_report.4c.RDS
cz_stats_report.4f.RDS
resources
caroussel.RDS.old
Rplot.png
cz-studiomails.json
cur_live_pgms.tsv
geo_response_dft.RDS
rerun_emails.RDS
caroussel.old
.secrets
req_stock_tib.RDS
caroussel.very_old
